<div class="p-4">
  <!--search form-->
  <form [formGroup]="searchForm" class="mb-4">
    <input pInputText type="text" placeholder="Search products..." class="w-64 p-2 border rounded"
      formControlName="query" />
    <button pButton type="button" label="Add Product" icon="pi pi-plus" (click)="openAddDialog()"></button>
  </form>

  <!--Spinner-->
  <div *ngIf="loading" class="flex justify-center items-center py-10">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s" />
  </div>

  <!-- Table -->
  <p-table *ngIf="!loading" [value]="filteredProducts" [paginator]="true" [rows]="10" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category}}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-text" (click)="openEditDialog(product)"></button>
        </td>
        <td>
          <button pButton label="Delete" icon="pi pi-trash" (click)="confirmDelete(product.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!--Dialog for Add/Edit-->
<p-dialog [(visible)]="dialogVisible" [modal]="true" [header]="editMode? 'Edit Product' : 'Add Product'"
  [closable]="true">
  <form [formGroup]="productForm" class="flex flex-col gap-3">
    <input pInputText placeholder="Title" formControlName="title"
      [ngClass]="{'ng-invalid ng-dirty': productForm.get('title')?.invalid && productForm.get('title')?.touched}"
    /><!--dynamically add CSS class based on validation(only red color border on input field)-->
    <small
      *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched" class="p-error">Title is required
    </small><!--error message shown-->
    <input pInputText placeholder="Price" formControlName="price"
      [ngClass]="{'ng-invalid ng-dirty': productForm.get('price')?.invalid && productForm.get('price')?.touched}"
    />
    <small
      *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="p-error">Price is required
    </small>
    <input pInputText placeholder="Category" formControlName="category" />
    <textarea pInputTextarea rows="3" placeholder="Description" formControlName="description"></textarea>

    <button pButton label="Save" icon="pi pi-check" (click)="saveProduct()"></button>
  </form>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
